

<div class="container d-flex justify-content-center align-items-center min-vh-50 py-3">
  <div class="login-card w-50">
    <div class="logo">
      <h3>Şifremi Unuttum</h3>
    </div>

    <form asp-action="ForgotPassword" method="post">
      <div class="mb-3">
        <input
          name="Email"
          type="email"
          class="form-control"
          placeholder="Sıfırlanacak E-posta"
          required
        />
      </div>

      <div class="mb-4">
        <button type="submit" class="btn custom-btn btn-block w-100">
          Gönder
        </button>
      </div>
    </form>
  </div>
</div>

@section NewCss {
  <link rel="stylesheet" href="/css/Login.css">
}