@{
    ViewData["NoContainer"] = true;
}  
  
  
  <main>
      <section class="container1">
        <h1>iPhone 17 Pro</h1>
        <h4>Görülmemiş incelikte.</h4>
        <img src="~/img/apple.jpg" alt="" />
      </section>
      <section class="container2">
        <h1>18MP Center Stage ön kamera.</h1>
        <h2>Kadrajınızdan kaçmayacak yenilikler.</h2>
        <p>
          Yeni ön kamera, fotoğraf ve video çekerken kadraj almanın daha esnek
          yollarını ve çok daha fazlasını sunuyor. Görüş alanını genişletmek ve
          dikey ile yatay pozisyonlar arasında geçiş yapmak için şimdi ekrana
          dokunmanız yeterli. Yani iPhone’unuzu çevirmenize gerek kalmadı.
          Üstelik, arkadaşlarınız kadraja girdiğinde görüş alanı genişlediğinden
          selfie’lerinize daha çok kişi sığdırabiliyorsunuz.
        </p>
      </section>
      <section class="container3">
        <p>Gülümseyin.</p>
        <p>Dünyanın en sevdiği kameradasınız.</p>
        <img src="~/img/assd.jpg" alt="" />
      </section>
    </main>

    @section Anasayfa {
    <link rel="stylesheet" href="/css/anasayfa.css">
        
    }