.navbar {
  background-color: #f8f9fa;
}

/* cart */
.btn.custom-btn {
  background: #343a40;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  transition:
    background 0.3s ease-in-out,
    transform 0.2s,
    color 0.3s;
}
.btn.custom-btn:hover {
  background: #212529;
  color: #f8f9fa;
  transform: scale(1.1);
}
.product-card:hover {
  transform: scale(1.05);
}

.product-card {
  transition: transform 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}
/* anasayfa */

.carousel {
  width: 90%;
  margin: 0 auto;
}
.carousel img {
  height: 500px;
  object-fit: contain;
  border-radius: 10px;
  width: 100%;
}
.carousel-indicators button {
  background-color: #343a40;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343a40;
}
.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}
/* page */
.custom-page-btn {
  background: #ffffff !important;
  border: 1px solid #343a40 !important;
  color: #343a40 !important;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  transition:
    background 0.3s ease-in-out,
    transform 0.2s,
    color 0.3s;
}

.custom-page-btn:hover {
  background: #f1f1f1 !important;
  color: #212529 !important;
  transform: scale(1.1);
}

.pagination .active-page {
  background: #212529 !important;
  color: #ffffff !important;
  border: 1px solid #212529 !important;
}
/* ------ */

.favorite-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ccc; /* Gri */
}

.favorite-icon.active {
  color: gold; /* Sarı */
}

.favorite-icon {
  position: absolute;
  top: 2px;
  right: 2px;
}

.checked {
  color: rgba(255, 165, 0, 0.4);
  font-size: 20px;
  transition: color 0.3s ease;
}

.favorite-icon:hover .checked {
  color: orange;
}
